<!DOCTYPE html>

<html>
<head>
    <title>Portfolio Tracker</title>  
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">
        <h1>Portfolio Tracker</h1>

        <p>Track your stock portfolio and keep an eye on your favorite stocks</p>

        <div class="summary-row">
            <div>
                <a href="/portfolio" class="card-button">View Portfolio</a>
            </div>

            <div>
                <a href="/watchlist" class="card-button">View Watchlist</a>
            </div>
    
        </div>
        

    </div>      
     
</body>
</html>